.homepage-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 220px;
}

.homepage-container .branding {
    margin: 15vh 0;
}

.homepage-container .branding .logo {
    height: 45px;
    width: 45px;
}

.homepage-container .branding * {
    color: white;
}

.homepage-container .branding h3 {
    opacity: 0.8;
}