.profile-details, .workout-program, .exercise-performance {
    padding-left: 25px;
}

.workout-program p.workout-description{
    text-align: left;
}

.profile-details .muscles-prioritized-label .ant-descriptions-item-label::after {
    content: ' ';
}

.exercise-performance {
    text-align: left;
}

.exercise-performance .exercise-dropdown {
    margin-bottom: 20px;
}

.exercise-performance-chart .chart-container{
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {

    .profile-details, .workout-program, .exercise-performance {
        padding-left: 0;
    }

    .workout-program div.ant-select.ant-select-multiple {
        margin-top: 15px;
        width: 290px !important;
    }
}