.workout-page .workout-header {
    text-align: center;
}

.workout-header-images {
    white-space: nowrap;
    overflow-x: auto;
    margin: 20px;
}

.workout-page .workout-header .ant-typography {
    color: #fff;
}