.muscle-group-container {
    width: 150px;
    height: 110px;
    border-radius: 45px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
}

/* position upper body and muscle rules */

.upper-body {
    width: 100%;
    position: relative;
    top: -40px;
}

.muscle-group-upper-body {
    width: 100%;
    position: relative;
    top: -314px
}

/* ends here */

/* position lower body and muscle rules */
/* above knee */
.lower-body-upper {
    width: 100%;
    position: relative;
    top: -120px;
}

.muscle-group-lower-body-upper {
    width: 100%;
    position: relative;
    top: -393px;
}

/* below knee */
.lower-body-lower {
    width: 100%;
    position: relative;
    top: -170px;
}

.muscle-group-lower-body-lower {
    width: 100%;
    position: relative;
    top: -445px;
}

/* ends here */


/* position upper body and muscle rules INSIDE workout header */

.workout-header-images .upper-body {
    top: -40px;
}

.workout-header-images .muscle-group-upper-body {
    top: -43px;
    left: -148px;
}

/* ends here */

/* position lower body and muscle rules */
/* above knee */
.workout-header-images .lower-body-upper {
    top: -120px;
}

.workout-header-images .muscle-group-lower-body-upper {
    top: -122px;
    left: -148px;
}

/* below knee */
.workout-header-images .lower-body-lower {
    top: -170px;
}

.workout-header-images .muscle-group-lower-body-lower {
    top: -170px;
    left: -148px;
}

/* ends here */