.exercise-info {
    margin-top: 5vh;
}

.exercise-info .exercise-info-section {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 60%);
}

.exercise-info .images-container {
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.exercise-info .images-container img {
    max-width: 250px;
}

@media only screen and (max-width: 600px) {
    .exercise-info .images-container img {
        max-width: 100%;
    }
}

.exercise-info .muscle-background {
    width: 150px;
    height: 276px;
    background-size: 150px;
    background-repeat: no-repeat;
}
