.homepage.background {
	background: rgb(19,64,185);
    background: linear-gradient(90deg, rgba(19,64,185,1) 0%, rgba(5,91,175,1) 49%, rgba(3,178,245,1) 100%);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100vw;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.homepage-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 220px;
}

.homepage-container .branding {
    margin: 15vh 0;
}

.homepage-container .branding * {
    color: white;
}

.homepage-container .branding h3 {
    opacity: 0.8;
}